<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>徽章</title>
    <link href="/js/bootstrap-3.3.5-dist/css/bootstrap.css" rel="stylesheet">
    <script src="/js/jquery-1.12.3.min.js"></script>
    <script src="/js/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <a href="#">消息中心<span class="badge">43</span></a>
        <button class="btn btn-primary">消息中心<span class="badge">44</span></button>
    </div>
</body>
</html>