<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>巨幕</title>
    <link href="/js/bootstrap-3.3.5-dist/css/bootstrap.css" rel="stylesheet">
    <script src="/js/jquery-1.12.3.min.js"></script>
    <script src="/js/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h1>hello world</h1>
            <p>111111111111111</p>
            <p><button class="btn btn-primary btn-lg" href="#" role="button">learn more</p>
        </div>
    </div>
</body>
</html>