<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>分页</title>
    <link href="/js/bootstrap-3.3.5-dist/css/bootstrap.css" rel="stylesheet">
    <script src="/js/jquery-1.12.3.min.js"></script>
    <script src="/js/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="container">
      <nav>
          <ul class="pagination">
              <li class="disabled">
                    <a href="#"><span>&laquo;</span></a>
              </li>
              <li class="active"><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li>
                  <a href="#" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                  </a>
              </li>
          </ul>
          <ul class="pager">
              <li><a href="#">上一页</a></li>
          </ul>
      </nav>
  </div>
</body>
</html>